<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.baemongsil.ex.lesson06.dao.FavoriteDAO"> 
  
  
	  <select id="selectFavoriteList" resultType="com.baemongsil.ex.lesson06.model.Favorite">
			SELECT 
				`id`
				, `name`
				, `url`
				, `createdAt`
				, `updatedAt`
			FROM
				`favorite`
		</select>
	  
  
  </mapper>